@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 100px solid #000;
}
h1{

  align-content: center;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
